.address__wrapper {
  background-color: white;
}

.address__cooperation {
  font-size: 16px;
  line-height: 20px;
  color: @header-gray-color;
  text-transform: uppercase;
}

.address__adds {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @content-gray-color;
}
