.main-catalog {
  list-style: none;
  padding: 0;
}

.main-catalog__item-title {
  font-size: 16px;
  line-height: 20px;
  color: @header-gray-color;
  text-transform: uppercase;
}

.main-catalog__item-description {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @content-gray-color;
}

.main-catalog__item-value {
  text-align: right;
}

.another {
  .another__show {
    background-color: @white-two-color;
    color: @content-gray-color;
  }
  text-align: center;
}

.another__number {
  font-size: 16px;
  line-height: 20px;
  color: @header-gray-color;
  text-transform: uppercase;
}

.another__intro {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @content-gray-color;
}
