.greeting {
  color: white;
  background-color: @leaf-color;
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  background-position-x: center;
  text-align: center;

}

.greetind__img-food{
  background-image: url(../img/index-can-mobile@1x.png);
  background-repeat: no-repeat;
  background-position-x: center;
  padding-bottom: 305px;
}

.greeting__title {
  font-size: 36px;
  line-height: 36px;
}

.greeting__slogan {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 14px;
}
