.greeting__wrapper {
  color: white;
  background-color: @leaf-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position-x: center;
  text-align: center;
  height: 305px;
}

.greetind__img-food {
  background-image: url("../img/index-can-mobile@1x.png");
  background-repeat: no-repeat;
  background-position-x: center;
  height: 270px;
  margin-top: -138px;
}

.greeting__title {
  font-size: 36px;
  line-height: 1;
  margin: 0 auto;
  padding-top: 29px;
  width: 266px;
}

.greeting__slogan {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1;
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 29px;
}

.greeting__selection {
  font-size: 14px;
  line-height: 18px;
  margin: auto;
  margin-top: 274px;
  position: relative;
}

@media (min-width: @tablet-width) {
  .greeting__wrapper {
    background-image: none;
    background-color: white;
    margin: auto;
    width: 534px;
  }

  .greeting__title {
    width: 432px;
    padding-top: 57px;
    text-align: left;
    font-size: 60px;
    margin: 0;
    color: @header-gray-color;
  }

  .greeting__slogan {
    width: 300px;
    text-align: left;
    margin: 0;
    font-size: 20px;
    color: @header-gray-color;
    padding-top: 41px;
  }

  .greetind__img-food {
    background-image: url("../img/index-can-tablet@1x.jpg");
    height: 609px;
    margin: -48px;
  }

  .greeting__selection {
    font-size: 20px;
    width: 245px;
    margin: 0;
    margin-top: 19px;
    padding-top: 16px;
    padding-bottom: 18px;
    padding-left: 4px;
  }
}

@media (min-width: @desktop-width) {
  .greeting {
    display: flex;
  }

  .greeting__wrapper {
    margin-left: 8.6%;
    background: none;
  }

  .greeting__title {
    margin-top: 51px;
  }

  .greeting__selection {
    margin-top: 25px;
  }

  .greetind__img-food {
    background-image: url("../img/index-can-desktop@1x.png");
    margin-top: 30px;
    margin-left: 16px;
    width: 552px;
    height: 499px;
  }
}
