@import "big-style.less";
@import "page-header.less";
@import "greeting.less";
@import "programs.less";
@import "advantages.less";
@import "example.less";
@import "address.less";
@import "page-footer.less";
@import "catalog.less";
@import "additional.less";
@import "selection.less";

@font-face {
  font-family: "OswaldRegular"; /* Имя шрифта */
  src: url("../fonts/oswaldregular.woff"); /* Путь к файлу со шрифтом */
}

@leaf-color: #68b738;
@white-two-color: #f2f2f2;
@header-gray-color: #111111;
@content-gray-color: #444444;
@tablet-width: 768px;
@desktop-width: 1300px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
@border: 1px solid #e6e6e6;
